<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kaetter.motorcyclemaintenancelog" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"
                    />
                <category android:name="android.intent.category.LAUNCHER"
                    />
            </intent-filter>
        </activity>

        <activity
            android:name=".NewLogActivity"
            android:label="@string/title_activity_new_log"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="adjustResize|stateUnchanged">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"
                />
        </activity>

        <activity
            android:name=".NewRem"
            android:label="@string/title_activity_new_rem"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"
                />
        </activity>

        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"
                />
        </activity>

        <activity
            android:name=".DeleteElem"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity"
            android:theme="@android:style/Theme.Black">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"
                />
        </activity>

        <activity
            android:name=".RefuelActivity"
            android:label="@string/title_activity_refuel"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="stateVisible">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"
                />
        </activity>

        <receiver
            android:name="RefuelWidgetProvider"
            android:icon="@drawable/fuelwidget"
            android:label="Refuel Widget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"
                    />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/refuelwidget_info"
                />
        </receiver>

    </application>

</manifest>